{% load static custom_translate i18n %}
<!DOCTYPE html>
<html lang="ko">
<body>
    <p>{% t '안녕하세요, {{ user_name }}님.' %}</p>
    <p>{% t 'HealthWise에 문의주신 내용에 대해 답변드립니다.' %}</p>

    <!-- <hr> 태그 대신 <br> 태그를 사용해 보기 좋게 한 줄 띄웁니다. -->
    <br>

    <div style="white-space: pre-wrap;">{{ admin_reply }}</div>

    <!-- 여기도 <hr> 태그 대신 <br> 태그로 바꿉니다. -->
    <br>

    <p>{% t '더 나은 서비스를 드리는 HealthWise가 되겠습니다! 문의 주셔서 다시 한번 감사합니다.' %}</p>
    <p>{% t '오늘도 더 나은 건강으로 주인공의 삶을 살아가세요. 늘 응원하겠습니다.' %}</p>
    <br>
    <p>{% t '- HealthWise 드림' %} -</p>
</body>
</html>